@import "../../scss/partials";

.AddEmployee {
  // padding: 20px 50px;
  &_Wrapper {
    width: 30%;
  }
  &_Header {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 100%;
    background-color: $grey-light;
    &_Text {
      margin-left: 80px;
      font-size: 1.5rem;
      @media only screen and (max-width: 767px) {
        margin-left: 10px;
      }
    }
    &__Back {
      margin-left: 80px;
      margin-top: 10px;
      @media only screen and (max-width: 767px) {
        margin-left: 10px;
      }
    }
  }
  &_Form {
    padding: 10px 80px;

    display: flex;
    flex-direction: column;
    width: 100%;

    &__Input {
      width: 60%;
      border-radius: 5px;
      height: 100%;
      padding: 5px;

      &__Text {
        border-radius: 5px;
        height: 20px;
        font-size: 16px;
        padding: 5px;
        margin-bottom: 20px;
      }
      &__Address {
        border-radius: 5px;
        height: 20px;
        width: 250px;
        font-size: 16px;
        padding: 5px;
        margin-bottom: 20px;
      }
      &__check {
        flex-direction: column;
        padding: 5px;
        color: black;
      }
      &__Day {
        border-radius: 5px;
        width: 50px;
        height: 20px;
        font-size: 16px;
        padding: 5px;
      }
      &__Month {
        border-radius: 5px;
        height: 35px;
        width: 100px;
        padding: 5px;
      }
      &__Year {
        border-radius: 5px;
        width: 60px;
        padding: 5px;
      }
      &__Date {
        display: flex;
        flex-direction: row;
      }
      &__Date > * {
        margin: 5px;
      }
      &__Hours {
        border-radius: 5px;
        width: 40px;
        padding: 5px;
      }
    }
    &__Btns {
      display: flex;
      flex-direction: row;
      &__Blue {
        margin: 0 5px;
        height: 30px;
        width: 120px;
        background-color: $blue;
        color: white;
        border-radius: 5px;
        border-color: none;
      }
      &__Grey {
        height: 30px;
        width: 120px;
        background-color: $grey-light;
        color: black;
        border-color: $grey-med;
        border-radius: 5px;
      }
    }
  }
  &_Error {
    font-size: 10px;
    border: 1px solid rgb(255, 69, 0);
    width: 25%;
    border-radius: 5px;
    padding: 2px;
    background-color: #cc0000;
    text-align: center;
    margin-bottom: 2px;
    color: white;
  }
}
