@import "../../scss/partials";
.EmployeeCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid $grey-med;
  &_Name {
    color: black;
    font-weight: bold;
  }

  &_Btns {
    padding: 25px 10px;
    color: $blue;
    @media only screen and (max-width: 767px) {
      padding: 2px;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    &:hover {
      cursor: pointer;
    }
    a {
      padding: 25px 10px;
      color: $blue;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
